
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.venv/
venv/
env/
ENV/
data_prep/
input_dir/
stream_output/
checkpoint/
*.parquet
*.crc
*.tmp
stream_output - Copy/

*.log
*.out
*.err
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db


.vscode/
.idea/
*.iml


ehthumbs.db
desktop.ini


airline_tweets.txt   # keep this out if dataset is large
